In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({
    'hours':[8,11,9,5,7.5,9.5,10,7,9,9.5,8,10.5,9,6.5,9],
    'score':[56,70,51,24,30,66,48,36,42,61,39,87,73,48,46]
})

In [4]:
df.head()

   hours  score
0    8.0     56
1   11.0     70
2    9.0     51
3    5.0     24
4    7.5     30

In [5]:
y = np.array(df.score.values)

In [6]:
y_pred = 8 * df.hours.values - 15

In [7]:
y

array([56, 70, 51, 24, 30, 66, 48, 36, 42, 61, 39, 87, 73, 48, 46])

In [9]:
y_pred

array([49., 73., 57., 25., 45., 61., 65., 41., 57., 61., 49., 69., 57.,
       37., 57.])

In [14]:
# Mean Absolute Error (MAE)
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y, y_pred)
mae

9.333333333333334

In [16]:
# Root Mean Squared Error (RMSE)
from sklearn.metrics import root_mean_squared_error
rmse = root_mean_squared_error(y,y_pred)
rmse

10.972693379476162

In [19]:
# R Squared
from sklearn.metrics import r2_score
r2 = r2_score(y,y_pred)
r2

0.5642312518096708